@import "tailwindcss";


body{
  background-image: url('./assets/bg.avif');
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
::-webkit-scrollbar{
  display: none;
}
